<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <h1>Hello,<%= user %></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, ducimus perspiciatis repellat commodi, ea aliquam officiis laborum, quo eaque optio sit dolor iste aliquid iusto maxime perferendis? Aliquam fugit deleniti soluta temporibus ratione. Iusto, quo eveniet nemo inventore quis natus ipsa numquam commodi dolores! Necessitatibus voluptates vel fugit natus, minima a quidem libero dolorum ipsum ea nulla, facilis illum? Consequuntur animi expedita dolores. Rerum illum id aspernatur nobis voluptas enim, ullam aperiam assumenda veniam quia nemo voluptates dolorum facere, perferendis quos dolorem, unde obcaecati sunt nulla reiciendis est commodi. Voluptate corporis dolore sint earum harum, consequuntur nobis aperiam maiores sapiente aliquam et, quae minus sunt cum laborum esse sequi libero atque est. Dolor, nesciunt voluptas. Officia quia quo recusandae saepe exercitationem alias dolor quae placeat officiis iure corporis dignissimos quisquam similique, dicta excepturi minus sed ipsam veritatis distinctio quod, magnam quasi unde eos? Commodi, perferendis! Ducimus vitae quo repellendus similique obcaecati dolor, aliquid quae nisi, totam beatae nesciunt voluptatum, provident harum exercitationem quis accusantium! Commodi dolorem ipsum sunt error quam blanditiis culpa officiis necessitatibus! Repellat illo modi voluptas dignissimos, nulla magni soluta amet vel velit adipisci. Cupiditate porro quae placeat, laboriosam fuga repudiandae deleniti quia! Non illum molestiae repudiandae nam!
        </p>

        <h3><a href="/logout">Logout</a></h3>
    </div>
</body>
</html>